header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #2b024a;
}

header li {
  text-align: center;
}

#short-cuts {
  display: flex;
  gap: 2%;
}

#short-cuts > li {
  width: 130px;
}

a {
  letter-spacing: 1px;
}

#menu-btn {
  display: none;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#menu-btn:hover {
  background-color: #0056b3;
}

#dropdown-menu {
  display: none;
  position: absolute;
  top: 60px;
  left: 90%;
  transform: translateX(-50%);
  background-color: var(--background);
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  padding: 10px 0;
  width: 200px;
  z-index: 1000;
}

#dropdown-menu a {
  color: white;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

#dropdown-menu a:hover {
  background-color: #555;
}

#dropdown-menu a {
  text-align: left;
}

@media (max-width: 1020px) {
  #menu-btn {
    display: block;
  }

  #short-cuts {
    display: none;
  }

  #contacto {
    display: none;
  }
}
