#change {
  background-color: var(--background);
  color: var(--heading);
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin: 30px;
}

.change-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profesional-area {
  background-color: var(--heading);
}
